@model HandleErrorInfo
@{
    ViewBag.Title = "Error";
}

<hgroup>
    <h2> Exception happend at time: @DateTime.Now.Date </h2>
    <h2>An error occurred while processing your request.</h2>
    <h3>Exception Details: @Model.Exception.Message </h3>
    <h3>Exception StackTrace: @Model.Exception.StackTrace </h3>
    <h3>Exception InnerException: @Model.Exception.InnerException </h3> <br/>
    <h4>Controller where Exception Happened: @Model.ControllerName </h4>
    <h4>Action where Exception Happened: @Model.ActionName </h4>
</hgroup>